@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Colors */
  --color-black: hsl(241, 11%, 16%);
  --color-white: hsl(0, 0%, 100%);
  --color-grey-dark: hsl(241, 12%, 75%);
  --color-grey-light: hsl(241, 53%, 96%);
}
